.price-detail-containe-wrapper {
  width: 40%;
  max-width: 500px;
}
.price-detail-container {
  position: relative;
  top: 8.5rem;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 0.4rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.1),
    -5px 5px 5px rgba(0, 0, 0, 0.1), 5px -5px 5px rgba(0, 0, 0, 0.1);

  .price {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);

    & span {
      font-size: 1rem;
      font-weight: 800;
      font-family: "Roboto", sans-serif;
      color: black;
    }
  }
}
.first {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rating1 {
  display: flex;
  font-size: 1.5rem;
}
.rating1 ion-icon {
  position: relative;
  font-size: 1.3rem;
  top: 0.13rem;
  margin-right: 0.3rem;
  color: var(--primary-color);
}
.dates {
  display: flex;
  text-align: center;
  padding: 0.7rem 1rem;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid #b8b7b7;
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1rem;
  & .check-in {
    width: 50%;
    border-right: 1px solid var(--primary-color);
  }
  & .check-out {
    width: 50%;
  }
  & .check-in-text,
  .check-out-text {
    font-size: 0.7rem;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0.4rem;
  }
}
.dates .react-datepicker__input-container input {
  font-family: "Poppins", sans-serif;
  font-size: 0.79rem;
  font-weight: 500;
  text-align: center;
  border: none;
  outline: none;
  width: 100%;
  padding: 0rem 0rem;
  background-color: white;
}
.dates .react-datepicker__input-container input::placeholder {
  font-weight: 400;
}
.guests {
  display: flex;
  padding: 0.7rem 1rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid #b8b7b7;
  border-radius: 1rem;
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  & .guest-count {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 0.7rem;
    font-weight: 800;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
  }

  & .guest-count-text {
    font-size: 1rem;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
  }

  & .guest-count-number {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
}
.guest-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: 1rem;
}
.guest-controls-button button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.guest-controls-button button:hover {
  color: var(--primary-color);
}
.guest-controls-button ion-icon {
  position: relative;
  top: 0.4rem;
  margin: 0 0.2rem;
}
.reserve {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.reserve button {
  width: 100%;
  padding: 0.7rem 0;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3rem;
  cursor: pointer;
}

.total {
  justify-content: space-between;
  margin: 2rem 0;
  border-bottom: 1px solid #b8b7b7;
}
.tt {
  font-size: 0.9rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0;
}
.amount {
  display: flex;
  align-items: center;
  position: relative;
  top: -1rem;
}
.amount-total {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
@media screen and (max-width: 1220px) and (min-width: 910px) {
  .price-detail-container {
    padding: 1.3rem 1.3rem 0rem 1.3rem;

    .price {
      font-size: 1.3rem;

      & span {
        font-size: 0.9rem;
      }
    }
  }
  .rating1 {
    font-size: 1.3rem;
  }
  .rating1 ion-icon {
    font-size: 1.1rem;
  }
  .dates {
    padding: 0.5rem 0.8rem;
    margin-top: 2rem;
    font-size: 0.8rem;
    & .check-in-text,
    .check-out-text {
      font-size: 0.65rem;
    }
  }
  .guests {
    padding: 0.6rem 0.9rem;

    & .guest-count {
      padding: 0.5rem;
      font-size: 0.6rem;
    }

    & .guest-count-text {
      font-size: 0.9rem;
    }

    & .guest-count-number {
      font-size: 0.9rem;
    }
  }
  .guest-controls-button button {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
  }
  .reserve button {
    font-size: 0.8rem;
  }
  .tt {
    font-size: 0.83rem;
  }
  .amount-total {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 910px) {
  .price-detail-containe-wrapper {
    width: 100%;
  }
  .price-detail-container {
    top: 0;
  }
}
