.property-type {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.5rem + 0.5vw);
}
.property-type span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(25% - 1rem);
  border-radius: 0.3rem;
  text-align: center;
  border: 1px solid grey;
}
.property-type span:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .property-type {
    font-size: calc(0.85rem + 0.5vw);
  }
  .property-type span {
    flex: 0 0 calc(25% - 0.5rem);
  }
}
