.heading {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
.heading-1:hover {
  cursor: pointer;
}

.payment-main {
  display: block;
  width: 70%;
  margin: 2rem auto;
  display: flex;
}
.payment-part1 {
  width: 40%;
  font-family: "Open Sans", sans-serif;
  & h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--primary-color);
  }
}
.payment-booking-details {
  & h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
  }
  & p {
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
  }
}
.payment-method {
  margin: 2rem 0;
}

.payment-button button {
  width: 80%;
  padding: 0.7rem 0;
  border: none;
  border-radius: 0.1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.payment-part2 {
  width: 60%;
  margin: 0 1rem;
}
.payment-hotel-details-wrapper {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(124, 124, 124);
  & img {
    width: 45%;
    object-fit: contain;
  }
}
.payment-hotel-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
}

.payment-hotel-details span:first-child {
  font-size: 1.1rem;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  margin-right: 5px;
}
.payment-details-subtext {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  color: rgb(124, 124, 124);
}
.safe-payment {
  width: 100%;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(124, 124, 124);
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(124, 124, 124);
  padding: 0.5rem 0;
  & span {
    color: var(--primary-color);
  }
}
.payment-method {
  & span {
    display: block;
    width: 80%;
    text-align: center;
    color: blue;
    border: 1px solid blue;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    margin-top: 0.6rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
  }
}
@media screen and (max-width: 660px) {
  .heading {
    height: 50px;
    width: 100%;
    & h1 {
      font-size: 1.5rem;
    }
  }
  .payment-main {
    flex-direction: column-reverse;
    margin: 1rem 0;
    width: 90%;
  }
  .payment-hotel-details-wrapper {
    display: flex;
    flex-direction: column;
    & img {
      width: 100%;
      max-height: 15vh;
      object-fit: cover;
    }
  }
  .payment-hotel-details {
    flex-direction: row;
    margin: 0.2rem 0 0 0;
  }
  .payment-hotel-details span:first-child {
    font-size: 1rem;
    color: var(--primary-color);
  }
  .safe-payment {
    font-size: 0.75rem;
  }
  .payment-details-subtext {
    font-size: 0.7rem;
    margin-bottom: 0rem;
  }
  .payment-booking-details {
    display: flex;
    justify-content: space-between;
  }
  .payment-part1 {
    padding: 0 1rem;
    width: 100%;
    & h2 {
      font-size: 1.3rem;
      margin-bottom: 0;
    }
  }
  .payment-part2 {
    width: 100%;
  }
  .payment-button button {
    width: 110%;
    padding: 0.7rem 0;
    border: none;
    border-radius: 0.1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
  }
  .payment-method {
    margin: 0.5rem 0 0.5rem 0;
    & span {
      width: 100%;
    }
  }
  .total {
    margin-top: 0;
  }
  .payment-method {
    & span {
      width: 110%;
      font-size: 1rem;
      padding: 0.3rem;
    }
  }
}
